* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: burlywood;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height: 50px;
    position: relative;
}

h1 {
    color: black;
    text-align: center;
}

#carrito, #topCarrito, #totalCarrito{
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}

#numeroTotal{
    color: green;
}

