* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* header {
    background-color: burlywood;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height: 70px;
    position: relative;
    border: 2px solid red;
} */

h1 {
    color: black;
}

.navbar{
    background-color: burlywood;
    border: solid 2px black;
}

.list-group-item{
    background-color: burlywood;
}

#carrito, #topCarrito, #totalCarrito{
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}

#numeroTotal{
    color: green;
}

.botonCarro {
    /* display: inline-block; */
    /* text-align: center; */
    /* vertical-align: middle; */
    border: solid 2px black;
    padding: 10px;
}