* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* header {
    background-color: burlywood;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height: 70px;
    position: relative;
    border: 2px solid red;
} */

h1 {
    color: black;
}

#carrito, #topCarrito, #totalCarrito{
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}

#numeroTotal{
    color: green;
}

.navbar{
    background-color: burlywood;
    border: solid 1px black;
}
.footer{
    background-color: burlywood;
    border: solid 1px black;
    margin-top: 15px;
    text-align: center;
}