* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}

body{
    background-color: #a5c5c3;
    padding-bottom: 120px;
}

h1 {
    color: black;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

.navbar{
    background-color: #429f9e;
    border: solid 1px black;
}

.list-group-item{
    background-color: #f05f3b;
}

#carrito, #topCarrito, #totalCarrito{
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}

#numeroTotal{
    color: green;
}

.botonCarro {
    border: solid 2px black;
    padding: 10px;
    background-color: #f05f3b;
}

.btn-primary{
    background-color: #f05f3b;
    color: black;
}